@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body, html {
    font-family: 'Work Sans', Arial, SansSerif;
    overflow-x: hidden;
}
body {
    background: #0A4660 /*url("/images/trama/trama2.png") no-repeat 0 40px*/;
    background-size: contain;
    text-shadow: black -2px -2px 2px;
}
.orange {
    color: #f36d53;
}
.gray {
    color: #f1efeb;
}
.lightblue {
    color: #cee9e9;
}
.darkblue {
    color: #233548;
}
.navy {
    color: #0A4660;
}
.navbar {
    font-size: 1.5rem;
}
.navbar-brand img {
    width:55%;
}
.nav-link{
    width: max-content;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1rem;
}
.logo-title{
    width: 75%;
    text-align: center;
    filter: drop-shadow(0 0 5px #000);
}
.main-title, .section-title{
    margin: 8rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: black -5px -5px 5px;
}
.context {
    font-size: 2rem;
    margin: 3rem 10rem 3rem 0;
    padding: 3rem;
    background: #ffffff22;
}
.container-fluid .card-deck .card{
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}
.container-fluid .card-deck .card img{
    width: 80%;
    margin: auto;
}
.footer-right{
    text-align: right;
}
.footer-left{
    text-align: left;
}
.footer-right a,
.footer-left a {
    color: #f36d53;
    text-decoration: none;
}
.footer-right h2 {
    font-size: 2.6rem;
}
.footer-left h3 {
    font-size: 2.2rem;
}
.social-media {
    font-size: 1.6rem;
}
#footer {
    background: #233548 url("/images/trama/trama.png") no-repeat 40% 0;
    background-size: 25%;
    position: relative;
    bottom: -3em;
}

#container-wrapper {
    /* Full screen width and height
    width: 100%; */
    min-height: 85vh;

    /* Centers the container in the middle of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#container-perspective {
    perspective: 20px;
}
#inner {
    width: 95vw;
    text-align: center;
    transition: transform 0.4s;
}
@media only screen and (min-width : 320px) and (max-height: 1366px)
and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5)
{
    /* For mobile phones: */
}

@media only screen and (max-aspect-ratio: 12/10)and (min-width : 760px)
{

}